@import "../../../global.scss";
@import "../../../app.scss";

.bar{
    display: flex;
    flex-direction: row;
    padding: 5px;
    width: 335px;
    background: transparent;
    border-radius: 5px;
    border: 1px solid var(--MainTextColor);
    gap: 10px;
    cursor: not-allowed;
    
    @include mobile{
        display: none;
    }
    
    .search{
        display: flex;
        align-items: center;
        color: var(--MainTextColor);
        cursor: not-allowed;
    }
    
    form{
        display: flex;
        width: 300px;
        
        input{
            cursor: not-allowed;
            border: none;
            outline: none;
            height: 100%;
            flex: 1;
            background: transparent;
        }
        
        
        button{
            background: var(--HTextColor);
            color: #fff;
            border-radius: 2.5px;
            border: none;
            box-shadow: none;
            text-align: center;
            padding: 10px;
            right: 0;
            cursor: not-allowed;
        }
    }
}