@import "../../app.scss";

.navbar {
    width: 100vw;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    font-size: larger;
    position: fixed;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(10px);

    @include mobile {
        z-index: 999;
    }

    .tgl {
        display: none;
        
        @include mobile {
            display: block;
        }
    }

    .logo {
        margin-top: 5px;
        height: 80px;
        cursor: pointer;

        @include mobile {
            display: none;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            z-index: 999;
            transition: all ease-out .1s;

            &:hover {
                // background: var(--HTextColor);
                transform: scale(1.05);
            }
        }
    }

    .links {
        display: flex;
        gap: 30px;

        @include mobile {
            display: none;
        }

        .one {

            ul {
                gap: 30px;
                display: flex;

                li {

                    .active {
                        color: var(--HTextColor);
                        transition: all ease-out .5s;
                    }

                    &:hover {
                        color: var(--HTextColor);
                    }
                }
            }
        }

        .two {

            ul {
                gap: 10px;
                display: flex;

                li {

                    &:hover {
                        color: var(--HTextColor);
                    }

                    .crt {
                        background: var(--HTextColor);
                        color: #fff;
                        border-radius: 5px;
                        text-align: center;
                        padding: 10px;
                    }
                }
            }
        }
    }
}