:root {
    --MainBgColorLight: #f0f8ff;
    --MainTextColorLight: #101720;
    --SecBgColorLight: #1877F2;
    --SecTextColorLight: #333333;
    --HTextColorLight: #db568d;
    --ContrastTextColorLight: #FAF9F6;

    --DarkBgColor: #121212;
    --DarkTextColor: #EAEAEA;
    --SecDarkBgColor: #1877F2;
    --SecDarkTextColor: #333333;
    --HDarkTextColor: #db568d;
    --ContrastDarkTextColor: #FAF9F6;
}


body.light {
    --MainBgColor: var(--MainBgColorLight);
    --MainTextColor: var(--MainTextColorLight);
    --SecBgColor: var(--SecBgColorLight);
    --SecTextColor: var(--MainTextColorLight);
    --HTextColor: var(--HTextColorLight);
    --ContrastTextColor: var(--ContrastTextColorLight);
}

body.dark {
    --MainBgColor: var(--DarkBgColor);
    --MainTextColor: var(--DarkTextColor);
    --SecBgColor: var(--SecDarkBgColor);
    --SecTextColor: var(--SecDarkTextColor);
    --HTextColor: var(--HDarkTextColor);
    --ContrastTextColor: var(--ContrastDarkTextColor);
}
























// $MainBgColor:  #f0f8ff;
// $MainTextColor: #101720;
// $SecBgColor: #fffff0;
// $SecTextColor:  #0B1215;
// $HTextColor:  orange;
// $ContrastTextColor: #FAF9F6;
// $DarkBgColor: red;
// $DarkTextColor: red;
// $SecDarkBgColor: red;
// $mainBgColor: red;