$MainBgColor:  #f0f8ff;
$MainTextColor: #101720;
$SecBgColor: #1877F2;
$SecTextColor:  #333333;
$HTextColor:  #FFC107;
$ContrastTextColor: #FAF9F6;

$DarkBgColor:  #121212;
$DarkTextColor: #EAEAEA;
$SecDarkBgColor: #1877F2;
$SecDarkTextColor:  #333333;
$HDarkTextColor:  #FFC107;
$ContrastDarkTextColor: #FAF9F6;



























// $MainBgColor:  #f0f8ff;
// $MainTextColor: #101720;
// $SecBgColor: #fffff0;
// $SecTextColor:  #0B1215;
// $HTextColor:  orange;
// $ContrastTextColor: #FAF9F6;
// $DarkBgColor: red;
// $DarkTextColor: red;
// $SecDarkBgColor: red;
// $mainBgColor: red;
